<div id="messages-page">
  {{#if errors}}
    <div class="notice error">
      <h2 class="notice-header">Error</h2>
      <ul class="error-list">
        {{#each errors}}
          {{#each this}}
            <li>{{@../key}} {{message}}</li>
          {{/each}}
        {{/each}}
      </ul>
    </div>
  {{/if}}

  <form id="message-form" method="POST" action="/messages">
    <textarea id="message-body-input" name="body" placeholder="Enter a message here."></textarea>
    <button type="submit">Submit Idea</button>
  </form>

  <div id="messages">
    <h3>What other people are thinking...</h3>

    {{#unless messages}}
      <p>No ideas yet 😔 </p>
    {{else}}
      <li class="message-list">
        {{#each messages}}
          <ul>
            <div class="message-body">
              {{body}}
              <div class="like-button">
                <h4><span id="like">{{likes}}</span></h4>
                <form action="/likes" method="POST">
                  <input type="hidden" name="message_id" value="{{id}}">
                  <button type="submit">Like</button>
                </form>
              </div>

            </div>
            <div class="message-timestamp">
              Posted on {{created_at}}
            </div>
          </ul>
        {{/each}}
      </li>
    {{/unless}}
  </div>
</div>

<script>
  function displayCount(){
  var like = document.getElementById('like').innerHTML
  like++;
  document.getElementById('like').innerHTML = like;
  }
</script>
